.cursor.comment-icon:hover,
.cursor.comment-icon:focus,
.cursor.comment-icon:active
{
    color: var(--primary);
}

.cursor {
    cursor: pointer;
    color: var(--grey);

}

.options:hover {
    color: var(--primary);
}

.options {
    size: 100%;
    color: var(--grey);
}
.textarea {
    resize: none
}

/* Add CSS to position the comment options to the left */
.comment-options {
    position: absolute;
    display: none;
}

.comment-options button {
    display: block;
    text-decoration: none;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--grey);
    max-width: fit-content;
}

.comment-form {
    display: none;
}

.comment-options button.edit-link:focus,.comment-options button.edit-link:active  {
    border: none;
}

.comment-options button.edit-link:hover {
    color: var(--primary);
}

.comment-options button.delete-link:hover {
    color: var(--danger);
}

/* Add this class to hide the element when needed */
.hidden {
    display: none;
}

/* Show the nested replies when their corresponding mai-add icon is targeted */
.replies:target {
    display: block;
}

/* Hide the nested replies when their corresponding mai-remove icon is targeted */
.replies:target ~ .replies {
    display: none;
}

.options button,
.toggleCollapse button {
    border: none;
    max-width: fit-content;
    outline: none;
    background-color: transparent;
    color: var(--grey);
}

.options button:focus,
.options button:active,
.options button:hover,
.toggleCollapse button:hover {
    color: var(--primary);
}

button.edit-link:hover,
button.edit-link:active,
button.edit-link:focus,
button.delete-link:hover,
button.delete-link:active,
button.delete-link:focus {
    border: none;
    outline: none;
}

 /* Styles for the popup message */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the gap size as needed */
}

/* Profile Dropdown */
.comment-profile-dropdown{
    padding-top: 2.5%;
}

.comment-profile-dropdown button{
    padding-bottom: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--grey);
}

.comment-profile-dropdown a{
    padding-left: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--grey);
}

.comment-profile-dropdown button:focus{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primary);
}

.comment-profile-dropdown a:hover{
    background-color: transparent;
    color: var(--primary);
}

.comment-profile-dropdown a.logout:hover{
    color: var(--danger);
}

.comment-profile-dropdown hr{
    border-width: 2px;
    border-color: var(--primary);
    margin-left: 10%;
    margin-right: 50%;
    border-radius: 0;
}



